/* font related styles */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Poppins:wght@200;500;700&family=Roboto:wght@500&family=Secular+One&family=Work+Sans:wght@400;500;600;700&display=swap');


/* common shared styles */
* {
    margin: 0;
}

body {

    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.title-text-color {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.title-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.text-light-grey {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}


.btn-primary {
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 21px 40px;
    border: 0px;
    cursor: pointer;
}



/* nav related styles */
.nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    margin: 0px 240px;
}

.nav li {
    list-style: none;
    margin-right: 20px;
}

.nav-logo,
.nav-info,
.nav-social-links {
    display: flex;
    cursor: pointer;
    align-items: center;

}

.nav-social-links {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 20px 18px 24px;

}

.nav-logo-word-color {
    color: #FF42A5;
}

/* banner section starts */
.banner {
    background: #FFF;

}

.banner-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    gap: 10px;


}

.banner-info {

    width: 50%;
    padding: 150px 310px 150px 260px;

}

.banner-img {
    width: 100%;
}

.banner-description {
    padding-top: 21px;
}

#banner-text-transform {
    text-transform: uppercase;
}

.banner-text-goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-button {
    display: inline-flex;
    gap: 10px;
    margin-top: 40px;
}


.aqua-banner-button {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 21px 40px;
    border: 0px;
    cursor: pointer;
}

/* we are gamer styles */

.we-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);

}

.we-game-container {
    display: flex;
    padding: 60px 250px;
    gap: 55px;
    align-items: center;
}

.we-gamer-info {
    text-align: right;
}

.know-more-button {
    margin-top: 32px;
    margin-bottom: 24px;
}

.we-gamer-quotation {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

/* online games styles start */


.online-games {
    width: 1442px;
    margin: 120px auto;
}

.online-games-title {
    text-align: center;
}

.online-games-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 50px;
}

.online-games-container img {
    margin-bottom: 25px;
}

.online-games-container-item {
    border-radius: 16px;
}

/* game-ad-1 styles */


.game-ad-1 {
    width: 1442px;
    margin: 0px auto;

}

.game-ad-1-container {
    display: flex;
    gap: 120px;
    margin-left: 100px;

}

.game-ad-1-info {
    padding: 250px 0px 0px 0px;
    text-align: right;
}

.game-ad-1-description {
    margin-top: 24px;
}

.game-ad-1-img>img {
    height: 70%;
    margin-left: 150px;

}

.side-img-ad-1 {
    position: relative;
    top: -285px;

}

/* game-ad-2 styles */


.game-ad-2 {
    width: 1442px;
    margin: 0px auto;

}

.game-ad-2-container {
    display: flex;
    gap: 100px;

}

.game-ad-2-info {
    padding: 300px 0px 0px 0px;
}

.game-ad-2-description {
    margin-top: 24px;
}


.game-ad-2-img>img {
    height: 70%;


}

.side-img-ad-2 {
    position: relative;
    top: -250px;
    margin-left: 500px;
}

/* careers related styles */

.career {
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    width: 100%;
}

.career-container {
    display: flex;
    justify-content: space-between;
    gap: 95px;
}

.career-info {
    padding: 120px 240px;

}

.career-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.career-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 2rem;

}

.career-profession {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 42px;
}

.career-country {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: right;

}

.career-btn {
    border-radius: 48px;
    background: #FFF;
    padding: 21px 40px;
    cursor: pointer;
    border: 0px;

}

.career-items {
    display: flex;
    justify-content: space-between;
    gap: 97px;
    width: auto;

}

/* game features styles */

.game-features {

    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 120px 280px 120px 240px;
}

.game-features-row-1-container,
.game-features-row-2-container {
    display: flex;
    justify-content: space-evenly;
}

.game-features-row-1-container {
    margin-bottom: 27px;
}

.game-features-item {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    border: 0px;
    cursor: pointer;
}

.game-features-item:hover {
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--Linear, #FF42A5);

}

.game-features-item img {
    margin-right: 16px;
}

.game-features-item p {
    padding: 20px 20px 20px 16px;
}



/* responsive layout */

/* Mobile Devices */
/* @media screen and (max-width:576px) {

    .nav>ul,
    .nav-logo,
    .nav-info,
    .banner-container {
        flex-direction: column;
    }

    .nav-info li {
        margin-bottom: 20px;
    }

    .nav>ul {
        margin: 0px 10px;
    }

    .banner-container {
        margin-top: 200px;
    }

    .banner-info {
        margin: 20px 20px 20px 20px;
    }


    .banner-img {
        width: auto;
    }
} */